body {
    background: url('pic/nen.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    background: url("pic/loan1.jpg") center/cover;
    background-clip: text;
    color: transparent;
}

.form-box {
    background: white;
    padding: 10px;
    border-radius: 8px;
    width: 450px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-group input {
    width: 90%;
    margin: 10px;
}

.lock-icon {
    position: absolute;
    right: 30px;
    color: #888;
}

button {
    width: 95%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
    background: #387297;
    transform: scale(1.05);
}

p a {
    text-decoration: none;
    color: #007bff;
}

p a:hover {
    text-decoration: underline;
}