@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('pic/nen.jpg') no-repeat center center/cover;
    color: white;
}
h2{
	text-align:center;
	padding-bottom:10px
}
.container {
    max-width: 500px;
    background:gray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
input, button {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
}
button {
    background-color: lightgray;
    border: none;
    cursor: pointer;
}

button:hover {
    background: blue;
	color:white;
}
.captcha-box {
    display: flex;
    align-items: center;
}
.captcha-box button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.captcha-text {
    font-size: 20px;
    font-weight: bold;
    background: black;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
}
