body {
    background: url('pic/nen.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box {
    background: white;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group {
    position: relative;
    width: 90%; 
}

.input-group input {
    width: 102%; 
    padding-right:0px;
	margin-left:15px;
}

.eye-icon {
    position: absolute;
    right:-30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

.eye-icon:hover {
    color: #333;
}


button {
    width: 95%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: #0056b3;
    transform: scale(1.09);
}

p a {
    text-decoration: none;
    color: #007bff;
}

p a:hover {
    text-decoration: underline;
}
